*{
	box-sizing: border-box;
	&:before, &:after {
		box-sizing: border-box;
	}
}

html, body{
	height: 100%;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style-type: none;
}
a {
	text-decoration: none;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.75;
	font-family: Gilroy, sans-serif;
	overflow-x: hidden;
	opacity: 1;
	color: #333;
}

.img-responsive{
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center{
	text-align: center;
}
