@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Light.otf') format('otf');
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.otf') format('otf')
	font-weight: bold
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.otf') format('otf');
	font-weight: 800;
}




